<svg
  [attr.width]="width"
  [attr.height]="height"
  class="sparkline"
  [class.sparkline-bar]="type === 'bar'"
  [class.sparkline-line]="type === 'line'"
>
  @if (type === 'bar') {
    @for (bar of bars; track $index) {
      <rect
        [attr.x]="bar.x"
        [attr.y]="bar.y"
        [attr.width]="bar.width"
        [attr.height]="bar.height"
        [attr.fill]="color"
        class="sparkline-bar-item"
      >
        <title>{{ bar.label }}</title>
      </rect>
    }
  } @else {
    <path [attr.d]="svgPath" [attr.stroke]="color" fill="none" stroke-width="1.5" class="sparkline-path" />
  }
</svg>
