<div class="histogram-item">
  <div class="histogram-label">
    {{ label }}
    <button class="expander" [class.active]="active" (click)="changed()"
      [title]="active ? 'remove from glyph' : 'add to glyph'" type="button">
      <i class="material-icons">
        {{ active ? 'remove' : 'add' }}
      </i>
    </button>
  </div>
  <div #histogramContainer class="histogram-container"></div>
  <div #colorContainer class="color-container" [hidden]="configuration.colorFeature !== property"></div>
</div>