<div class="help-tooltip-container">
  <button
    class="help-icon"
    (mouseenter)="showTooltip()"
    (mouseleave)="hideTooltip()"
    (click)="toggleTooltip()"
    (keydown.enter)="toggleTooltip()"
    (keydown.space)="toggleTooltip()"
    [attr.aria-label]="'Help: ' + helpText"
    [attr.aria-expanded]="isVisible"
    type="button"
    tabindex="0"
  >
    <span class="material-icons">help_outline</span>
  </button>

  <div
    #tooltipContent
    class="tooltip-content"
    [class.visible]="isVisible"
    [ngStyle]="tooltipStyle"
    role="tooltip"
    [attr.aria-hidden]="!isVisible"
  >
    <div class="tooltip-text" [innerHTML]="helpText"></div>
  </div>
</div>
