<div class="scene-container"
  #sceneContainer
  [class.active]="canvasActivated"
  (click)="onCanvasClick()"
>
  <div
    #canvasContainer class="canvas-container"
    id="canvas-container"
    (click)="settingsPanel.showPanel()"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
  >
    <app-magiclens [container]="canvasContainer"
      [glyphGroup]="glyphGroup"
      [parentId]="id"
    ></app-magiclens>
  <app-settingscontrols #settingsPanel
      [parentId]="id"
      [totalCells]="totalCells"

      [collisionAvoidance]="collisionAvoidance"
      [aggregated]="aggregated"

      [algorithms]="algorithms"
      [selectedAlgorithm]="selectedAlgorithm"

      [timestamps]="timestamps"
      [selectedTimestamp]="selectedTimestamp"

      (fitToView)="fitToView()"
      (takeScreenshot)="takeScreenshot()"
      (toggleCollision)="toggleCollisionAvoidance()"
      (toggleAggregation)="toggleAggregation()"
      (settingsChanged)="onSettingsChange($event)"
      (changeAnimationSpeed)="onAnimationSpeedChanged($event)"
      (togglePlayback)="onTogglePlayback()"
  ></app-settingscontrols>
    <app-navigationcontrols
      [visible]="mouseInside"
      [selectionMode]="selectionMode"
      [magicLenseStatus]="magicLenseStatus"

      (toggleNavigation)="toggleNavigationMode()"
      (toggleSelection)="toggleSelectionMode()"
      (toggleLens)="toggleMagicLens()"      
      >
    </app-navigationcontrols>
  </div>
</div>
<app-tooltip [container]="canvasContainer"></app-tooltip>
<div
  class="selection-rectangle"  
  [style.left.px]="selectionBox.left"
  [style.top.px]="selectionBox.top"
  [style.width.px]="selectionBox.width"
  [style.height.px]="selectionBox.height"
  [hidden]="!isSelecting"
></div>