<div class="progress-stepper" [class.vertical]="vertical">
  <div class="stepper-container">
    @for (step of steps; track $index) {
      <div class="step-wrapper">
        <div
          class="step"
          [class.active]="isStepActive($index)"
          [class.completed]="isStepCompleted($index)"
          [class.clickable]="isStepClickable($index)"
          (click)="onStepClick($index)"
          (keydown.enter)="onStepClick($index)"
          tabindex="0"
        >
          <div class="step-circle">
            @if (isStepCompleted($index) && !isStepActive($index)) {
              <span class="material-icons">check</span>
            } @else {
              <span class="step-number">{{ $index + 1 }}</span>
            }
          </div>

          <div class="step-label">{{ step.label }}</div>
        </div>

        @if ($index < steps.length - 1) {
          <div class="step-connector" [class.completed]="isStepCompleted($index + 1)"></div>
        }
      </div>
    }
  </div>
</div>
