<div class="legend-dropdown" [class.open]="open" [style.width.px]="width">
  <div class="legend-content">

    <div class="menu-label">GLYPH LEGEND</div>
    <div class="glyph-visualization">
      <canvas #glyphCanvas width="328" height="200"></canvas>
    </div>

    <div class="menu-label">DATA INFORMATION</div>
    <div class="dashboard-infos" [hidden]="dataProvider.totalItems == 0">
      <span>Total items&nbsp;</span>
      <span>{{ dataProvider.totalItems }}</span>

      <span class="right" [hidden]="dataProvider.filteredItems == dataProvider.totalItems">{{ dataProvider.filteredItems
        }}</span>
      <span class="right" [hidden]="dataProvider.filteredItems == dataProvider.totalItems">Filtered Items&nbsp;</span>
    </div>

    <div class="menu-label">SEARCH</div>
    <div class="dashboard-search">
      <input #searchInput type="text" [(ngModel)]="searchTerm" (keydown.enter)="onSearchEnter()" (focus)="onFocus()"
        (blur)="onBlur()" placeholder="Text search in features..." />
      <button class="clear-btn" *ngIf="searchTerms.length > 0 || searchTerm" (click)="clearSearch(searchInput)"
        data-tooltip="Clear">
        <i class="material-icons">close</i>
      </button>
      <ul class="search-term-list" *ngIf="inputFocused && searchTerms.length > 0">
        <li *ngFor="let term of searchTerms; let i = index">
          <span>{{ term }}</span>
          <button class="remove-btn" (click)="removeTerm(i)">
            <i class="material-icons">close</i>
          </button>
        </li>
      </ul>
    </div>

    <div class="menu-header">
      <div class="menu-label">DATA DISTRIBUTION</div>
      <button class="clear-filters-btn" (click)="clearFilters()" type="button" title="Clear selection and filters">
        <span class="material-icons">filter_alt_off</span>
      </button>
    </div>
    <div class="filter-container">
      <ng-container *ngFor="let featureId of featureIds; trackBy: trackByFeatureId">
        <div class="filter-item-wrapper">
          <app-histogram [configuration]="config" [dataProvider]="dataProvider"
            [histogramData]="features[featureId].histogram" [categories]="features[featureId].categories"
            [featureMin]="features[featureId].min" [featureMax]="features[featureId].max"
            [label]="getFeatureName(featureId)" [type]="getFeatureType(featureId)" [property]="featureId">
          </app-histogram>
        </div>
      </ng-container>
    </div>

  </div>
</div>